.peppermint {
    text-align: center;
}

.peppermint figure {
    margin: 0 0 1.5em 0;
}

.peppermint figure img {
    vertical-align: top;
    max-width: 100%;
}

.peppermint figure figcaption {
    font-style: italic;
    color: #787575;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.peppermint.peppermint-active {
    margin-bottom: 1.5em;
}

.peppermint-slides {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* dots */
ul.peppermint-dots {
    margin: 0.6em 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.peppermint.peppermint-active ul.peppermint-dots {
    margin: 0 0 0.6em 0;
}

.peppermint.peppermint-active .peppermint-slides + ul.peppermint-dots {
    margin: 0.6em 0 0 0;
}

ul.peppermint-dots > li {
    display: inline-block;
    position: relative;
    padding: 0.5em 0.6em;
    width: 12px;
    height: 12px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* ie7 fallback */
    *display: inline;
    *zoom: 1;
}

ul.peppermint-dots > li.peppermint-mouse-clicked,
ul.peppermint-dots > li:active {
    outline: 0;
}

ul.peppermint-dots > li > span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #9b9890;
}

ul.peppermint-dots > li.peppermint-active-dot > span {
    margin: -6px 0 0 -6px;
    width: 10px;
    height: 10px;
    border: 1px solid #9b9890;
    background: transparent;
}
/*arrows*/
.peppermint-arrows{
    display: none;
    position: static;
}
.peppermint-arrow{
    position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 999;
  transition:none;
}
.peppermint-arrow--prev {
  left: 10px;
  background: url('../images/controls.png') no-repeat 0 -32px;
}
.peppermint-arrow--prev:hover,
.peppermint-arrow--prev:focus {
  background-position: 0 0;
}
.peppermint-arrow--next {
  right: 10px;
  background: url('../images/controls.png') no-repeat -43px -32px;
}
.peppermint-arrow--next:hover,
.peppermint-arrow--next:focus {
  background-position: -43px 0;
}